<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>${title!}</title>
<meta name="description" content="${description!}" />
@include("_aceCss.html"){}
</head>
<body class="no-skin">
	<!-- 导航栏 -->
	<div class="navbar" id="navbar">
		@include("_aceNavbar.html"){}
	</div>

	<div class="main-container" id="main-container">
		<!-- 侧边栏 -->
		<div class="sidebar responsive" id="sidebar">
			@var url="";
			@if(has(pageUrl)){
			@url=pageUrl;
			@}
			
			@include("_aceSidebar.html", {pageUrl:url}){}
		</div>

		<div class="main-content">
			<!-- 地图栏 -->
			
			<div class="page-content">
				<!-- 右侧设置器 -->				
				@include("_aceSettingBox.html"){}
				<div class="row">
					<div class="col-xs-12">
						<!-- 内容 -->
						${layoutContent!}
					</div>
				</div>
			</div>
		</div>
		<!-- 底栏 -->
		@include("_aceFooter.html"){}
	</div>
@include("_aceJs.html"){}	
${extJs!}
</body>
</html>