<link href="${CONTEXT_PATH}/static/ace/css/bootstrap.min.css" rel="stylesheet" />
<link href="${CONTEXT_PATH}/static/ace/css/font-awesome.min.css" rel="stylesheet" />

<link href="${CONTEXT_PATH}/static/ace/css/ace-fonts.min.css" rel="stylesheet" />

<link href="${CONTEXT_PATH}/static/ace/css/ace.min.css" rel="stylesheet" class="ace-main-stylesheet" />
<!--[if lte IE 9]>
<link href="${CONTEXT_PATH}/static/ace/css/ace-part2.min.css" rel="stylesheet" class="ace-main-stylesheet" />
<![endif]-->

<link href="${CONTEXT_PATH}/static/ace/css/ace-rtl.min.css" rel="stylesheet" />

<!--[if lte IE 9]>
<link href="${CONTEXT_PATH}/static/ace/css/ace-ie.min.css" rel="stylesheet" />
<![endif]-->

<!-- Custome -->
<link href='${CONTEXT_PATH}/static/bootstrap-table/bootstrap-table.min.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/sco.js/css/scojs.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/sco.js/css/sco.message.css' rel='stylesheet'>

<link href='${CONTEXT_PATH}/static/css/main.css' rel='stylesheet'>


<script src="${CONTEXT_PATH}/static/ace/js/ace-extra.min.js"></script>
<!--[if lte IE 8]>
<script src="${CONTEXT_PATH}/static/ace/js/html5shiv.min.js"></script>
<script src="${CONTEXT_PATH}/static/ace/js/respond.min.js"></script>
<![endif]-->

