<div class="navbar-buttons navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">  
		
		<!-- 告警栏 -->    	      
        <li class="red">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                <span class="badge badge-important">1</span>
            </a>
            <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-exclamation-triangle"></i>1条告警信息
                </li>
                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar navbar-pink">
                        <li>
                            <a href="#">
                                <i class="btn btn-xs btn-primary fa fa-user"></i>门锁uuua123电量过低 ...
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-footer">
                    <a href="/alarm/lockAlarms">查看所有告警信息<i class="ace-icon fa fa-arrow-right"></i></a>
                </li>
            </ul>
        </li>
        
        <!-- 消息栏 -->
<!--
 <li class="green">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                <span class="badge badge-success">1</span>
            </a>
            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-envelope-o"></i>1条未读消息
                </li>
                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar">
                        <li>
                            <a href="#" class="clearfix">
                                <img src="${CONTEXT_PATH}/static/ace/avatars/avatar.png" class="msg-photo" alt="from"/>
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">系统:</span>
                                        系统喊你回家吃饭了 ...
                                    </span>
                                    <span class="msg-time">
                                        <i class="ace-icon fa fa-clock-o"></i><span>1分钟前</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-footer">
                    <a href="#">进入我的收件箱<i class="ace-icon fa fa-arrow-right"></i></a>
                </li>
            </ul>
        </li>
 -->
        
        <!-- 用户信息栏 -->
        <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="${CONTEXT_PATH}/static/ace/avatars/user.jpg" alt="user"/>
                <span class="user-info"><small>欢迎您,</small>${loginUser}</span>
                <i class="ace-icon fa fa-caret-down"></i>
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">           
                <li>
                    <a href="/reset"><i class="ace-icon fa fa-user"></i>重置密码</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/doLogout"><i class="ace-icon fa fa-power-off"></i>注销</a>
                </li>
            </ul>
        </li>
    </ul>
</div>