<div class="ch-container">
    <div class="row">
        @include("_menu.html"){}

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            @include("_sitemap.html"){}

			<div class="row">
			    <div class="box col-md-12">
			        <div class="box-inner">
			            <div class="box-header well" data-original-title="">
			                <h2><i class="glyphicon glyphicon-star-empty"></i> ${pageTitle!}</h2>
			            </div>
			            <div class="box-content">
			                ${content!}
			            </div>
			        </div>
			    </div>
			</div> 
            <!-- content ends -->
        </div> 
    </div> 
    @include("_footer.html"){}
</div>