<!-- The styles -->
<link id="bs-css" href="${CONTEXT_PATH}/static/charisma/css/bootstrap-cerulean.min.css" rel="stylesheet">

<link href="${CONTEXT_PATH}/static/charisma/css/charisma-app.css" rel="stylesheet">
<link href='${CONTEXT_PATH}/static/bower/fullcalendar/dist/fullcalendar.min.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
<link href='${CONTEXT_PATH}/static/bower/chosen/chosen.min.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/jquery-colorbox/example3/colorbox.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/responsive-tables/responsive-tables.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/sco.js/css/scojs.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/bower/sco.js/css/sco.message.css' rel='stylesheet'>

<link href='${CONTEXT_PATH}/static/charisma/css/jquery.noty.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/charisma/css/noty_theme_default.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/charisma/css/elfinder.min.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/charisma/css/elfinder.theme.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/charisma/css/jquery.iphone.toggle.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/charisma/css/uploadify.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/charisma/css/animate.min.css' rel='stylesheet'>

<link href='${CONTEXT_PATH}/static/bower/bootstrap-table/dist/bootstrap-table.min.css' rel='stylesheet'>

<!-- jQuery -->
<script src="${CONTEXT_PATH}/static/bower/jquery/dist/jquery.min.js"></script>

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="${CONTEXT_PATH}/static/js/html5.js"></script>
<![endif]-->

<link href='${CONTEXT_PATH}/static/css/main.css' rel='stylesheet'>
<link href='${CONTEXT_PATH}/static/css/silk-icon.css' rel='stylesheet'>