<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>${title!}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Riguz.com.">
    <meta name="author" content="Solee Riguz">

    <link href="${CONTEXT_PATH}/static/ace/css/bootstrap.min.css" rel="stylesheet" />

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    ${head!}
</head>
<body>
    ${layoutContent!}    
    <script src="${CONTEXT_PATH}/static/ace/js/jquery.min.js"></script>
    <script src="${CONTEXT_PATH}/static/ace/js/bootstrap.min.js"></script>
    <script src="${CONTEXT_PATH}/static/bower/jquery-form/jquery.form.js"></script>
    <script src="${CONTEXT_PATH}/static/ace/js/jquery.validate.min.js"></script>
    ${js!}

</body>
</html>