<div id="toolbar">
	<div class="">
	    <div class="form-inline" role="form">
	        ${searchForm!}
	        <button type="submit" class="btn btn-bold btn-primary searchButton">
	        	<span class="ace-icon glyphicon glyphicon-search bigger-110 icon-only">查找</span>
	        </button>
	    </div>
	    <hr/>
	</div>
	<div class="">
	    <div class="btn-group"  role="group">
	        <button id="add-role" type="button" class="btn btn-bold btn-primary addButton" data-toggle="modal" data-target="${addDialog}">
	            <span class="glyphicon glyphicon-plus"></span>
	        </button>
	        <button id="edit-role" type="button" class="btn btn-bold btn-warning editButton singleSelect" data-toggle="modal" data-target="${editDialog}" disabled>
	            <span class="ace-icon fa fa-pencil-square-o bigger-110 icon-only"></span>
	        </button>
	        @if(has(deleteAction)){
	        <button id="delete-role" type="button" class="btn btn-danger btn-bold deleteButton multSelect" disabled delete-action="${deleteAction}">
	            <span class="ace-icon fa fa-trash-o bigger-110 icon-only"></span>
	        </button>
	        @};
	        ${toolButtons!}
	    </div>
	</div>
</div>
