@CHARSET "UTF-8";

body{
	/*
	font-family: "Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica","Arial","Verdana","sans-serif";
	font-family: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	*/
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei,
		Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.fixed-table-toolbar .bars{
	width:100%;
}

.mandatory-field{
	font-size:18px;
	color:red;
	padding-right: 5px;
}

.error{
	color:#b94a48;
}
.mandatory{
	color:red;
}
.lockPower{
	width:40px;
	height:16px;
	background-image: url("../img/lock_small.png");
}
.power-5{
	background-position: 0,0px;
}
.power-4{
	background-position: -40px,0px;
}
.power-3{
	background-position: -80px,0px;
}
.power-2{
	background-position: -120px,0px;
}
.power-1{
	background-position: -160px,0px;
}

