@CHARSET "UTF-8";

body {
	font-size: medium;
}

.header {
	height: 100px;
	background: url('../img/lepao/poss.gif') no-repeat;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 10px;
	color:#717171;
}