@CHARSET "UTF-8";

body {
	font-size: medium;
}

.header {
	height: 100px;
	background: url('../img/lepao/poss.gif') no-repeat;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 10px;
	color: #717171;
}

.u-header {
	height: 150px;
	background: url('../img/lepao/u-bg.jpg') no-repeat;
	margin-bottom: 10px;
	padding-top: 15px;
	text-align: center;
}

.match-header {
	height: 150px;
	background: url('../img/lepao/mt-bg.gif') no-repeat;
	margin-bottom: 10px;
	padding-top: 15px;
	text-align: center;
}

.round img {
	width:100px;
	height:100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border: 2px solid white;
}

.u-header a {
	font-size: small;
	color: #eee;
}

.title {
	padding: 15px 10px 15px 10px;
}

.userInfo {
	padding: 15px 10px 15px 10px;
	text-align: center;
	background: url("../img/lepao/tag.png") no-repeat;
	border: 2px solid #eee;
	-webkit-box-shadow: 3px 3px 3px;
	-moz-box-shadow: 3px 3px 3px;
	box-shadow: 3px 3px 3px;
}

#portrait {
	margin: 0 auto;
}

.sharedPicture img {
	width: 200px;
}

.sharedPicture p {
	padding: 5px 0px;
	font-size: 12px;
	text-align: center;
	color: #333;
	white-space: normal;
	width: 200px;
}

/* for match.html*/
#matchContainer, .matchBody {
	background-color: #eee;
}

.match, #matchContainer {
	text-align: center;
}

.welcomeBody{
	height:100%;
}
.welcome{
	background:url('../img/lepao/match_bg.png') repeat;
	height:100%;
	text-align:center;
	overflow:hidden;
}

.ing{
	height:100px;
	background:url('../img/lepao/ing.gif') no-repeat;
	margin-top:150px;
	padding-top:20px;
}
.match {
	height: 200px;
	margin-bottom: 10px;
}

.match img {
	width: 50%;
	height: 50%;
	border: 2px solid white;
}

.myMatch{
	text-align:center;
	margin-bottom:15px;
}


.myPortrait img {
	width: 50px;
	height: 50px;
}

.uploadPreview img {
	max-width: 100%;
}


.s-header {
	height: 150px;
	background: url('../img/lepao/run.gif') no-repeat;
	margin-bottom: 10px;
	padding-top: 95px;
	text-align: center;
}



.search{
	padding-top:15px;
}

/**/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}