<div id="sidebar" class="sidebar responsive">

	<!-- /.sidebar-shortcuts -->

	<ul class="nav nav-list">
		@for(menu in session["jfinal_menu"]){
			@var open=false;
			@for(sub in menu.subMenuList){
        		@if(sub.url == pageUrl){
        			@open = true;
        			@break;
        		@}
        	@}
        	@if(open){	
			<li class="active open">
			@}else{
			<li class="">
			@}
	            <a href="${menu.url}" class="dropdown-toggle">
	                <i class="menu-icon fa ${menu.icon}"></i>
	                <span class="menu-text">${menu.text}</span>
	                @if(!isEmpty(menu.subMenuList)){
		        	<b class="arrow fa fa-angle-down"></b>
		        	@}
	            </a>	        
		        @if(!isEmpty(menu.subMenuList)){
	        	<b class="arrow"></b>
	        	<ul class="submenu">
        		@for(sub in menu.subMenuList){
        			@if(sub.url == pageUrl){
	        		<li class="active">
	        		@}else{
	        		<li class="">
	        		@}
	                    <a href="${sub.url}">
	                        <i class="menu-icon fa fa-caret-right"></i>${sub.text}
	                    </a>
                   		<b class="arrow"></b>
               		</li>
        		@}
            	</ul>
		        @}
	        </li>
		@}
	</ul>
</div>