<!--[if !IE]> -->
<script src="${CONTEXT_PATH}/res/ace/js/jquery.min.js"></script>
<!-- <![endif]-->
<!--[if lte IE 9]>
<script src="${CONTEXT_PATH}/res/ace/js/jquery1x.min.js"></script>
<![endif]-->

<script src="${CONTEXT_PATH}/res/ace/js/bootstrap.min.js"></script>

<!-- ie8 canvas if required for plugins such as charts, etc -->
<!--[if lte IE 8]>
<script src="${CONTEXT_PATH}/res/ace/js/excanvas.min.js"></script>
<![endif]-->

<!-- 
 -->
<script src="${CONTEXT_PATH}/res/ace/js/jquery.validate.min.js"></script>
<script src="${CONTEXT_PATH}/res/ext/messages_zh.min.js"></script>

<script src="${CONTEXT_PATH}/res/ext/sco.js/js/sco.modal.js"></script>
<script src="${CONTEXT_PATH}/res/ext/sco.js/js/sco.confirm.js"></script>
<script src="${CONTEXT_PATH}/res/ext/sco.js/js/sco.message.js"></script>

<script src="${CONTEXT_PATH}/res/ext/jquery.form.js"></script>
<script src="${CONTEXT_PATH}/res/ace/js/ace-elements.min.js"></script>
<script src="${CONTEXT_PATH}/res/ace/js/ace.min.js"></script>


<!-- custom -->
